{% extends "_base.html" %}
{% comment %}
Zona Protegida is an open source web application under the MIT license.

Contributions to this template:
  * Danilo Marto de Carvalho <carvalho.dm@proton.me>
{% endcomment %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url "zp:index" %}" class="text-dark fw-bold">
    <i class="bi bi-house"></i>
  </a>
</li>
{% endblock breadcrumb %}

{% block content %}
  {% block search_form %}
  {% endblock search_form %}
  <section class="card card-body border-0 rounded-0">
    <nav class="nav nav-tabs justify-content-end mb-3">
      {% block customer_page_navigation_tabs %}
      {% endblock customer_page_navigation_tabs %}
    </nav>
    <main>
      {% block tab_content %}
      {% endblock tab_content %}
    </main>
  </section>
{% endblock content %}
