{% extends "customers/_index.html" %}
{% comment %}
Zona Protegida is an open source web application under the MIT license.

Contributions to this template:
  * Danilo Marto de Carvalho <carvalho.dm@proton.me>
{% endcomment %}

{% block title %}
Delete {{ customer.name }}
{% endblock title %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">
  {% if customer.type_service == "OA" %}Alarm{% elif customer.type_service == "OC" %}Camera{% else %}Alarm and camera{% endif %}
</li>
<li class="breadcrumb-item">
  {{ customer.name }}
</li>
<li class="breadcrumb-item active" aria-current="page">
  Delete
</li>
{% endblock breadcrumb %}

{% block label %}
{% endblock label %}

{% block nav %}
{% endblock nav %}

{% block buttons %}
<a href="{% url "zp:customers:list_by_service" service=customer.type_service %}" class="btn btn-outline-secondary border-secondary-subtle">
  <i class="bi bi-chevron-left"></i>
</a>
<a href="{{ customer.get_absolute_url_to_delete }}" class="btn btn-outline-danger border-danger-subtle">
  <i class="bi bi-trash"></i>
</a>
<a href="{{ customer.get_absolute_url_to_update }}" class="btn btn-outline-warning border-warning-subtle">
  <i class="bi bi-pencil"></i>
</a>
<a href="{{ customer.get_absolute_url }}" class="btn btn-outline-primary border-primary-subtle">
  <i class="bi bi-eye"></i>
</a>
<a href="{% url 'zp:customers:create_by_service' service=customer.type_service %}" class="btn btn-outline-success border-success-subtle">
  <i class="bi bi-plus"></i>
</a>
{% endblock buttons %}

{% block tab_content %}
<form action="{{ request.path }}" method="post">
  {% csrf_token %}
  <section class="alert alert-danger">
    <p class="fw-bold">Are you sure you want to delete {{ customer.name }}?</p>
    <p>This customer will be marked as deleted and their data will not be editable, but will still be available for queries.</p>
  </section>
  <h3 class="fs-6 text-secondary">General info</h3>
  <section class="row row-gap-2 mb-3">
    <div class="col-12 col-md-6 col-lg-8">
      <input type="text" placeholder="{{ customer.name }}" class="form-control border-secondary-subtle" disabled>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <input type="text" placeholder="{% if customer.type_service == "OA" %}alarm{% elif customer.type_service == "OC" %}camera{% else %}alarm and camera{% endif %}" class="form-select border-secondary-subtle" disabled>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <input type="text" placeholder="{% if customer.type_person == "NP" %}Natural Person{% else %}Legal Entity{% endif %}" class="form-select border-secondary-subtle" disabled>
    </div>
  </section>
  <h3 class="fs-6 text-secondary">Address</h3>
  <section class="row row-gap-2 mb-3">
  </section>
  {% if customer.type_service == "OA" or customer.type_service == "AC" %}
  <h3 class="fs-6 text-secondary">Alarm info</h3>
  <section class="row row-gap-2 mb-3">
  </section>
  {% endif %}
  {% if customer.type_service == "OC" or customer.type_service == "AC" %}
  <h3 class="fs-6 text-secondary">Cameras info</h3>
  <section class="row row-gap-2 mb-3">
  </section>
  {% endif %}
  <div class="mb-3">
    <textarea placeholder="{{ customer.note }}" class="form-control border-secondary-subtle" disabled></textarea>
  </div>
  <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash"></i> Delete</button>
</form>
{% endblock tab_content %}
