{% extends "customers/_index.html" %}
{% comment %}
Zona Protegida is an open source web application under the MIT license.

Contributions to this template:
  * Danilo Marto de Carvalho <carvalho.dm@proton.me>
{% endcomment %}

{% block title %}
Create new customer
{% endblock title %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">
  <a href="{% url 'zp:customers:list' service="AC" %}" class="text-dark fw-bold">
    {% if service == "OA" %}alarm{% elif service == "OC" %}camera{% else %}alarm and camera{% endif %} customers
  </a>
</li>
<li class="breadcrumb-item">
  Create new
</li>
{% endblock breadcrumb %}

{% block customer_page_navigation_tabs %}
<a href="{% url "zp:customers:list" service=service %}" class="nav-link text-dark">
  <i class="bi bi-list-ul"></i>
</a>
<a href="#" class="nav-link text-dark active" aria-current="tab">
  <i class="bi bi-plus"></i>
</a>
{% endblock customer_page_navigation_tabs %}

{% block tab_content %}
<p>Create new</p>
{% endblock tab_content %}
