{% load i18n static cache %}<!DOCTYPE html>
{% comment %}
Zona Protegida is an open source web application under the MIT license.

Contributions to this template:
  * Danilo Marto de Carvalho <carvalho.dm@proton.me>

Project base template
{% endcomment %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock title %} / Zona Protegida</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
    <script defer src="{% static '@popperjs/core/dist/umd/popper.js' %}"></script>
    <script defer src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
  </head>
  <body class="bg-secondary-subtle">
    {% block navbar %}
    {% comment %}Global Header{% endcomment %}
    <header class="py-2 mb-3 sticky-top">
      <div class="container-xxl">
        <div class="d-flex align-items-center justify-content-between">
          <section class="d-flex align-items-center gap-2">
            <button class="d-lg-none btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavMenu" aria-controls="offcanvasNavMenu">
              <i class="bi bi-list"></i>
            </button>
            <a href="{% url "zp:index" %}">
              {% cache 500 brand %}
              <img src="{% static "img/branch-zona-protegida.svg" %}" alt="brand" class="img-fluid" width="48" height="100" />
              {% endcache brand %}
            </a>
          </section>
          <section class="d-none d-lg-block">
            {% include "_navmenu.html" %}
          </section>
          <section>
            <div class="dropdown">
              <button class="btn btn-outline-secondary border-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <form action="{% url "zp:accounts:logout" %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="logout" class="dropdown-item">
                  </form>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </header>
    {% comment %}Global Header End{% endcomment %}
    <div class="d-none d-lg-block mb-3">
      <div class="container-xxl">
        <div class="d-flex align-items-center justify-content-between">
          {% comment %}Breadcrumb{% endcomment %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              {% if request.path == "/" %}
              <li class="breadcrumb-item active" aria-current="page"><i class="bi bi-house"></i></li>
              {% else %}
                {% block breadcrumb %}
                {% endblock breadcrumb %}
              {% endif %}
            </ol>
          </nav>
          {% comment %}Breadcrumb End{% endcomment %}
          <p>{{ request.user.username }}</p>
        </div>
      </div>
    </div>
    {% comment %}Sidebar{% endcomment %}
    <aside class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavMenu" aria-labelledby="offcanvasNavMenuLabel">
      <header class="offcanvas-header">
        <img src="{% static "img/branch-zona-protegida.svg" %}" alt="brand" class="img-fluid" width="48" height="100" />
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </header>
      <main class="offcanvas-body h-100">
        {% include "_navmenu.html" %}
      </main>
    </aside>
    {% comment %}Sidebar End{% endcomment %}
    {% endblock navbar %}
    <main class="container-xxl">
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
