{% comment %}
Zona Protegida is an open source web application under the MIT license.

Contributions to this template:
  * Danilo Marto de Carvalho <carvalho.dm@proton.me>
{% endcomment %}
<nav class="nav h-100 gap-lg-3 flex-column flex-lg-row justify-content-evenly align-items-center">
  <a
    href="{% url 'zp:customers:list' %}"
    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover {% if pg == 'customers' %}fw-bold{% endif %}"
    {% if pg == 'customers' %}aria-current="page"{% endif %}
  >
    Customers
  </a>
  <a
    href="{% url 'zp:customers:list' %}"
    class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover {% if pg == 'reports' %}fw-bold{% endif %}"
    {% if pg == 'reports' %}aria-current="page"{% endif %}
  >
    Reports
  </a>
</nav>
