{% load i18n static cache %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block title %}{% endblock title %} / Zona Protegida</title>
  {% cache 500 static_files %}
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}">
  <script defer src="{% static '@popperjs/core/dist/umd/popper.js' %}"></script>
  <script defer src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
  {% endcache 500 static_files %}
</head>

<body class="bg-secondary-subtle">
  {% block navbar %}
  {% comment %} HEADER {% endcomment %}
  <header class="py-2 mb-3">
    <div class="container-xxl">
      <div class="d-flex align-items-center justify-content-between">
        <button class="d-lg-none btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavMenu" aria-controls="offcanvasNavMenu">
          <i class="bi bi-list"></i>
        </button>
        <a href="{% url "zp:index" %}">
          {% cache 500 brand %}
          {% include "brand.html" with width="48" height="100" %}
          {% endcache brand %}
        </a>
        <section class="d-none d-lg-block">
          {% include "navmenu.html" %}
        </section>
        <section>
          <div class="dropdown">
            <button class="btn btn-outline-secondary border-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Preference</a></li>
              <li>
                <form action="{% url "zp:logout" %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="logout" class="dropdown-item">
                </form>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </header>
  {% comment %} END HEADER {% endcomment %}

  <div class="d-none d-lg-block mb-3">
    <div class="container-xxl">
      <div class="d-flex align-items-center justify-content-between">

        {% comment %} BREADCRUMB {% endcomment %}
        <nav aria-label="breadcrumb">
          {% if service %}
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "zp:index" %}"><i class="bi bi-house"></i></a></li>
            {% block breadcrumb %}{% endblock breadcrumb %}
          </ol>
          {% else %}
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="bi bi-house"></i></li>
          </ol>
          {% endif %}
        </nav>
        {% comment %} END BREADCRUMB {% endcomment %}

        <p>{{ request.user.username|default:"anonymous"}}</p>
      </div>
    </div>
  </div>

  {% comment %} SIDEBAR {% endcomment %}
  <aside class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavMenu" aria-labelledby="offcanvasNavMenuLabel">
    <header class="offcanvas-header">
      {% include "brand.html" with width="48" height="100"%}
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </header>
    <main class="offcanvas-body h-100">
      {% include "navmenu.html" %}
    </main>
  </aside>
  {% comment %} END SIDEBAR {% endcomment %}

  {% endblock navbar %}
  <main class="container-xxl">
    {% block content %}{% endblock content %}
  </main>
</body>
</html>
