{% extends "_base.html" %}
{% comment %}
Zona Protegida is an open source web application under the MIT license.

Contributions to this template:
  * Danilo Marto de Carvalho <carvalho.dm@proton.me>
{% endcomment %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <i class="bi bi-house"></i>
</li>
<li class="breadcrumb-item">
  Customers
</li>
{% endblock breadcrumb %}

{% block content %}
{% block search_form %}
{% endblock search_form %}
<section class="card card-body border-0">
  <header class="row row-gap-1 mb-3">
    <section class="d-lg-none col-12 col-sm-6">
      {% block label %}
      {% endblock label %}
    </section>
    <section class="d-none d-lg-flex col-12 col-lg-6">
      {% block nav %}
      {% endblock nav %}
    </section>
    <section class="col-12 col-sm-6">
      <div class="d-flex align-items-center justify-content-center justify-content-sm-end gap-1">
        {% block buttons %}
        {% endblock buttons %}
      </div>
    </section>
  </header>
  <main>
    {% block tab_content %}
    {% endblock tab_content %}
  </main>
</section>
{% endblock content %}
