{% extends "zp/customers/customer_base.html" %}

{% block title %}
  {% if delete %}Delete{% endif %}
  {{ customer.name }}
{% endblock title %}

{% block card_border_color %}
{% if delete %}
border-danger
{% endif %}
{% endblock card_border_color %}

{% block nav_tabs %}
<nav>
  <div class="nav nav-underline" id="nav-tab" role="tablist">
    <button class="nav-link {% if delete %}text-danger{% endif %} active"
            id="nav-general-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-general"
            type="button"
            role="tab"
            aria-controls="nav-general"
            aria-selected="true">General</button>
    <button class="nav-link {% if delete %}text-danger{% endif %}"
            id="nav-address-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-address"
            type="button"
            role="tab"
            aria-controls="nav-address"
            aria-selected="false">Address</button>
    <button class="nav-link"
            id="nav-dvr-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-dvr"
            type="button"
            role="tab"
            aria-controls="nav-dvr"
            aria-selected="false">DVR</button>
    <button class="nav-link"
            id="nav-alarm-centers-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-alarm-centers"
            type="button"
            role="tab"
            aria-controls="nav-alarm-centers"
            aria-selected="false">Alarm Centers</button>
  </div>
</nav>
{% endblock nav_tabs %}

{% block buttons %}
<a  href="{% url 'zp:customers:customer_list' service_type=customer.service_type %}"
    class="btn btn-outline-secondary border-secondary-subtle"><i class="bi bi-list-ul"></i></a>
{% if delete %}
<a  href="{{ customer.get_absolute_url }}"
    class="btn btn-outline-secondary border-secondary-subtle"><i class="bi bi-eye"></i></a>
{% else %}
<a  href="{{ customer.get_absolute_url_to_delete }}"
    class="btn btn-outline-secondary border-secondary-subtle"><i class="bi bi-trash"></i></a>
{% endif %}
<a  href="{{ customer.get_absolute_url_to_update }}"
    class="btn btn-outline-secondary border-secondary-subtle"><i class="bi bi-pencil"></i></a>
<a  href="{% url 'zp:customers:customer_create' %}"
    class="btn btn-outline-secondary border-secondary-subtle"><i class="bi bi-plus"></i></a>
{% endblock buttons %}

{% block customer_content %}
<form {% if delete %}action="{{ request.path }}" method="post"{% endif %} class="tab-content" id="nav-tabContent">
  {% if delete %}
    <section class="alert alert-danger">
      <p>Do you really want to delete this client?</p>
      <p>
        When a customer is deleted, it will be marked as inactive and can no longer be edited, but will still be available for viewing.
      </p>
    </section>
    {% csrf_token %}
  {% endif %}
  <section  class="mb-3 tab-pane fade show active"
            id="nav-general"
            role="tabpanel"
            aria-labelledby="nav-general-tab"
            tabindex="0">

    <div class="row">
      <div class="mb-3 col-12 col-lg-9">
        <label for="Name" class="form-label">Name</label>
        <input  type="text"
                name="name"
                id="customer_name"
                value="{{ customer.name }}"
                class="form-control"
                disabled />
      </div>

      <div class="mb-3 col-12 col-lg-3">
        <label for="service_type" class="form-label">Service Type</label>
        <select name="service_type" id="customer_service_type" class="form-select" disabled>
          <option select value="{{ customer.service_type }}">{{ customer.service_type }}</option>
        </select>
      </div>

      <div class="col-12">
        <label for="note" class="form-label">Note</label>
        <textarea name="note" id="customer_note" class="form-control" rows="10" disabled>
          {{ customer.note }}
        </textarea>
      </div>
      </div>
  </section>

  <section  class="mb-3 tab-pane fade"
            id="nav-address"
            role="tabpanel"
            aria-labelledby="nav-address-tab"
            tabindex="0">

    <div class="row">
      <div class="mb-3 col-12 col-lg-8">
        <label for="street" class="form-label">Street</label>
        <input  type="text"
                name="street"
                id="address_street"
                value="{{ customer.address.street }}"
                class="form-control"
                disabled />
      </div>

      <div class="mb-3 col-12 col-lg-2">
        <label for="number" class="form-label">Number</label>
        <input type="text"
                name="number"
                id="address_number"
                value="{{ customer.address.number }}"
                class="form-control"
                disabled />
      </div>

      <div class="mb-3 col-12 col-lg-2">
        <label for="complement" class="form-label">Complement</label>
        <input type="text"
                name="complement"
                id="address_complement"
                value="{{ customer.address.complement }}"
                class="form-control"
                disabled />
      </div>

      <div class="mb-3 col-12 col-lg-6">
        <label for="neighborhood" class="form-label">Neighborhood</label>
        <input type="text"
                name="neighborhood"
                id="address_neighborhood"
                value="{{ customer.address.neighborhood }}"
                class="form-control"
                disabled />
      </div>

      <div class="mb-3 col-12 col-lg-2">
        <label for="city" class="form-label">City</label>
        <input type="text"
                name="city"
                id="address_city"
                value="{{ customer.address.city }}"
                class="form-control"
                disabled />
      </div>

      <div class="mb-3 col-12 col-lg-2">
        <label for="state" class="form-label">State</label>
        <select name="state" id="address_state" class="form-select" disabled>
          <option select value="{{ customer.address.state }}">{{ customer.address.state }}</option>
        </select>
      </div>

      <div class="mb-3 col-12 col-lg-2">
        <label for="country" class="form-label">Country</label>
        <input type="text"
                name="country"
                id="address_country"
                value="{{ customer.address.country }}"
                class="form-control"
                disabled />
      </div>

      <div class="mb-3 col-12 col-lg-2">
        <label for="zip_code" class="form-label">Zip code</label>
        <input type="text"
                name="zip_code"
                id="address_zip_code"
                value="{{ customer.address.zip_code }}"
                class="form-control"
                disabled />
      </div>
    </div>
  </section>

  <section  class="mb-3 tab-pane fade"
            id="nav-dvr"
            role="tabpanel"
            aria-labelledby="nav-dvr-tab"
            tabindex="0">

    {% for camera in customer.cameras.all %}
    <div class="row">
      <div class="mb-3 col-12">
        <label for="camera.description" class="form-label">Description</label>
        <input type="text"
                name="alarm_description"
                id="alarm_description"
                value="{{ camera.description }}"
                class="form-control"
                disabled />
      </div>
    </div>
    {% endfor %}
  </section>

  <section  class="mb-3 tab-pane fade"
            id="nav-alarm-centers"
            role="tabpanel"
            aria-labelledby="nav-alarm-centers-tab"
            tabindex="0">

    {% for alarm in customer.alarms.all %}
    <div class="row">
      <div class="mb-3 col-12">
        <label for="alarm.description" class="form-label">Description</label>
        <input type="text"
                name="alarm_description"
                id="alarm_description"
                value="{{ alarm.description }}"
                class="form-control"
                disabled />
      </div>
    </div>
    {% endfor %}
  </section>

  {% if delete %}
    <section class="text-center">
      <button type="submit"
              class="btn btn-danger">Delete {{ customer.name }}</button>
    </section>
  {% endif %}
</form>
{% endblock customer_content %}
