{% extends "zp/customers/customer_base.html" %}

{% load widget_tweaks %}

{% block title %}
  Customer create
{% endblock title %}

{% block card_border_color %}
border-success
{% endblock card_border_color %}

{% block nav_tabs %}
<nav>
  <div class="nav nav-underline" id="nav-tab" role="tablist">
    <button class="nav-link text-success active"
            id="nav-general-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-general"
            type="button"
            role="tab"
            aria-controls="nav-general"
            aria-selected="true">General</button>
    <button class="nav-link"
            id="nav-address-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-address"
            type="button"
            role="tab"
            aria-controls="nav-address"
            aria-selected="false"
            disabled>Address</button>
    <button class="nav-link"
            id="nav-dvr-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-dvr"
            type="button"
            role="tab"
            aria-controls="nav-dvr"
            aria-selected="false"
            disabled>DVR</button>
    <button class="nav-link"
            id="nav-alarm-centers-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-alarm-centers"
            type="button"
            role="tab"
            aria-controls="nav-alarm-centers"
            aria-selected="false"
            disabled>Alarm Centers</button>
  </div>
</nav>
{% endblock nav_tabs %}

{% block buttons %}
<a  href="{% url 'zp:customers:customer_list' %}"
    class="btn btn-outline-secondary border-secondary-subtle"><i class="bi bi-list-ul"></i></a>
{% if customer %}
<a  href="{% url 'zp:customers:customer_create' %}"
    class="btn btn-outline-secondary border-secondary-subtle"><i class="bi bi-plus"></i></a>
{% endif %}
{% endblock buttons %}

{% block customer_content %}
<form action="{{ request.path }}" method="post">
  {% csrf_token %}

  <section  class="mb-3 tab-pane fade show active"
            id="nav-general"
            role="tabpanel"
            aria-labelledby="nav-general-tab"
            tabindex="0">

    <section class="row">

      <div class="mb-3 col-12 col-lg-9">
        <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
        {% render_field form.name class="form-control" placeholder=form.name.label %}
        {% for error in form.name.errors %}<p class="text-danger">{{ error }}</p>{% endfor %}
      </div>

      <div class="mb-3 col-12 col-lg-3">
        <label for="{{ form.service_type.id_for_label }}" class="form-label">{{ form.service_type.label }}</label>
        {% render_field form.service_type class="form-select" placeholder=form.service_type.label %}
      </div>

      <div class="mb-3 col-12">
        <label for="{{ form.note.id_for_label }}" class="form-label">{{ form.note.label }}</label>
        {% render_field form.note class="form-control" %}
      </div>
    </section>
  </section>

  <section class="text-center">
    <button type="submit"
            class="btn btn-success">Customer create</button>
  </section>
</form>
  {% endblock customer_content %}
