{% extends "zp/customers/_index.html" %}
{% comment %}
Zona Protegida is an open source web application under the MIT license.

Contributions to this template:
  * Danilo Marto de Carvalho <carvalho.dm@proton.me>
{% endcomment %}

{% block title %}
{{ customer.name }}
{% endblock title %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item active" aria-current="page">
  {{ customer.name }}
</li>
{% endblock breadcrumb %}

{% block label %}
{% endblock label %}

{% block nav %}
{% endblock nav %}

{% block buttons %}
<a href="{% url "zp:customers:list_by_service" service=customer.type_service %}" class="btn btn-outline-secondary border-secondary-subtle">
  <i class="bi bi-chevron-left"></i>
</a>
<a href="{{ customer.get_absolute_url_to_delete }}" class="btn btn-outline-danger border-danger-subtle">
  <i class="bi bi-trash"></i>
</a>
<a href="{{ customer.get_absolute_url_to_update }}" class="btn btn-outline-warning border-warning-subtle">
  <i class="bi bi-pencil"></i>
</a>
<a href="{% url 'zp:customers:create' %}" class="btn btn-outline-success border-success-subtle">
  <i class="bi bi-plus"></i>
</a>
{% endblock buttons %}

{% block tab_content %}
<form>
  <h3 class="fs-6 text-secondary">General info</h3>
  <section class="row row-gap-2 mb-3">
    <div class="col-12 col-md">
      <input type="text" placeholder="{{ customer.name }}" class="form-control border-secondary-subtle" disabled>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <input type="text" placeholder="{% if customer.type_service == "0" %}alarm{% elif customer.type_service == "1" %}camera{% else %}alarm and camera{% endif %}" class="form-select border-secondary-subtle" disabled>
    </div>
  </section>
  <h3 class="fs-6 text-secondary">Address</h3>
  <section class="row row-gap-2 mb-3">
  </section>
  {% if customer.type_service == "0" or customer.type_service == "2" %}
  <h3 class="fs-6 text-secondary">Alarm info</h3>
  <section class="row row-gap-2 mb-3">
  </section>
  {% endif %}
  {% if customer.type_service == "1" or customer.type_service == "2" %}
  <h3 class="fs-6 text-secondary">Cameras info</h3>
  <section class="row row-gap-2 mb-3">
  </section>
  {% endif %}
  <textarea placeholder="{{ customer.note }}" class="form-control border-secondary-subtle" disabled></textarea>
</form>
{% endblock tab_content %}
