{% extends "zp/customers/_index.html" %}
{% comment %}
Zona Protegida is an open source web application under the MIT license.

Contributions to this template:
  * Danilo Marto de Carvalho <carvalho.dm@proton.me>
{% endcomment %}

{% block title %}
{% if service == '0' %}Alarm customers{% elif service == '1' %}Camera customers{% elif service == '2' %}Alarm and camera customers{% else %}All customers{% endif %}
{% endblock title %}

{% block breadcrumb %}
{{ block.super }}
{% if not service %}
<li class="breadcrumb-item active" aria-current="page">
  All
</li>
{% else %}
<li class="breadcrumb-item active" aria-current="page">
  {% if service == '0' %}Alarms{% elif service == '1' %}Cameras{% elif service == '2' %}Alarms and cameras{% endif %}
</li>
{% endif %}
{% endblock breadcrumb %}

{% block search_form %}
<section class="d-none d-lg-block">
  <form action="" method="get" class="card card-body border-0 mb-3">
    <div class="d-flex align-items-center gap-1">
      <input type="text" class="form-control border-secondary-subtle">
      <button type="submit" class="btn btn-outline-secondary border-secondary-subtle">
        <i class="bi bi-search"></i>
      </button>
      <button type="submit" class="btn btn-outline-secondary border-secondary-subtle">
        <i class="bi bi-funnel"></i>
      </button>
    </div>
  </form>
</section>
{% endblock search_form %}

{% block label %}
<div class="dropdown">
  <button class="btn btn-outline-secondary border-secondary-subtle dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {% if service == '0' %}Alarms{% elif service == '1' %}Cameras{% elif service == '2' %}Alarms and cameras{% else %}All{% endif %}
  </button>
  <ul class="dropdown-menu w-100">
    <li><a href="{% url "zp:customers:list" %}" class="dropdown-item">All</a></li>
    <li><a href="{% url 'zp:customers:list_by_service' service='0' %}" class="dropdown-item">Alarms</a></li>
    <li><a href="{% url 'zp:customers:list_by_service' service='1' %}" class="dropdown-item">Cameras</a></li>
    <li><a href="{% url 'zp:customers:list_by_service' service='2' %}" class="dropdown-item">Alarms and cameras</a></li>
  </ul>
</div>
{% endblock label %}

{% block nav %}
<nav class="nav nav-underline">
  <a href="{% url "zp:customers:list" %}" class="nav-link text-dark {% if not service %}active{% endif %}" {% if not service %}aria-current="tab"{% endif %}>All</a>
  <a href="{% url 'zp:customers:list_by_service' service='0' %}" class="nav-link text-dark {% if service == '0' %}active{% endif %}" {% if service == "0" %}aria-current="tab"{% endif %}>Alarms</a>
  <a href="{% url 'zp:customers:list_by_service' service='1' %}" class="nav-link text-dark {% if service == '1' %}active{% endif %}" {% if service == "1" %}aria-current="tab"{% endif %}>Cameras</a>
  <a href="{% url 'zp:customers:list_by_service' service='2' %}" class="nav-link text-dark {% if service == '2' %}active{% endif %}" {% if service == "2" %}aria-current="tab"{% endif %}>Alarms and Cameras</a>
</nav>
{% endblock nav %}

{% block buttons %}
<div class="d-lg-none">
  <button type="submit" class="btn btn-outline-secondary border-secondary-subtle">
    <i class="bi bi-search"></i>
  </button>
  <button type="submit" class="btn btn-outline-secondary border-secondary-subtle">
    <i class="bi bi-funnel"></i>
  </button>
</div>
<a href="{% url "zp:customers:create" %}" class="btn btn-outline-success border-success-subtle">
  <i class="bi bi-plus"></i>
</a>
{% endblock buttons %}

{% block tab_content %}
<section class="table-responsive-lg">
  <table class="table table-striped table-hover align-middle">
    <tbody>
      {% for customer in customers %}
      <tr>
        <td scope="col" class="card card-body border-0 rounded-0">
          <p><a href="{{ customer.get_absolute_url }}" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">{{ customer.name }}</a></p>
          <p class="text-secondary">{{ customer.address }}</p>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td scope="col" class="text-nowrap">
          <p>No customers have been registered yet for the {% if service == "0" %}alarm{% elif service == "1C" %}camera{% else %}alarm and camera{% endif %} service.</p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock tab_content %}
