{% extends "zp/customers/_index.html" %}
{% comment %}
Zona Protegida is an open source web application under the MIT license.

Contributions to this template:
  * Danilo Marto de Carvalho <carvalho.dm@proton.me>
{% endcomment %}

{% load widget_tweaks %}

{% block title %}
Update {{ customer.name }}
{% endblock title %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">
  Update {{ customer.name }}
</li>
{% endblock breadcrumb %}

{% block label %}
<button class="btn btn-outline-warning w-100" type="button">
  Update {{ customer.name }}
</button>
{% endblock label %}

{% block nav %}
{% endblock nav %}

{% block buttons %}
<a href="{% url "zp:customers:list_by_service" service=customer.type_service %}" class="btn btn-outline-secondary border-secondary-subtle">
  <i class="bi bi-chevron-left"></i>
</a>
<a href="#" class="btn btn-outline-danger border-danger-subtle">
  <i class="bi bi-trash"></i>
</a>
<a href="{{ customer.get_absolute_url }}" class="btn btn-outline-primary border-primary-subtle">
  <i class="bi bi-eye"></i>
</a>
<a href="{% url 'zp:customers:create' %}" class="btn btn-outline-success border-success-subtle">
  <i class="bi bi-plus"></i>
</a>
{% endblock buttons %}

{% block tab_content %}
<form action="{{ request.path }}" method="post">
  {% csrf_token %}
  <h3 class="fs-6 text-secondary">General info</h3>
  <section class="row row-gap-2 mb-3">
    <div class="col-12 col-md">
      {% render_field form.name class="form-control border-secondary-subtle" placeholder=form.name.label %}
    </div>
    <div class="col-12 col-md-3">
      {% render_field form.type_service class="form-select border-secondary-subtle" %}
    </div>
  </section>
  <h3 class="fs-6 text-secondary">Address</h3>
  <section class="row row-gap-2 mb-3">
  </section>
  {% if customer.type_service == "OA" or customer.type_service == "AC" %}
  <h3 class="fs-6 text-secondary">Alarm info</h3>
  <section class="row row-gap-2 mb-3">
  </section>
  {% endif %}
  {% if customer.type_service == "OC" or customer.type_service == "AC" %}
  <h3 class="fs-6 text-secondary">Cameras info</h3>
  <section class="row row-gap-2 mb-3">
  </section>
  {% endif %}
  <div class="mb-3">
    {% render_field form.note class="form-control border-secondary-subtle" %}
  </div>
  <button type="submit" class="btn btn-outline-warning">
    <i class="bi bi-pencil"></i> update
  </button>
</form>
{% endblock tab_content %}
